/CodeEvaluation/Debug
/CodeEvaluation/x64/Debug
/.vs
/CodeEvaluation/.vs/Project5/v16/.suo
/CodeEvaluation/.vs/Project5/v16
/CodeEvaluation/aa.docx
/CodeEvaluation/sampleText1_input.txt
/CodeEvaluation/sampleCode2_input.txt
/CodeEvaluation/sampleCode2.exe
/CodeEvaluation/sampleCode1.exe
